<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pantalla Inicial</title>
    <link
      rel="stylesheet"
      href="http://localhost/quickalive/frontend/user/css/pantallaInicial.css"
      type="text/css"
    />
  </head>
  <body>
    <h1>Actividades Cercanas</h1>
    <div id="events-container"></div>

    <a href="http://localhost/quickalive/backend/user/eliminarCuenta.php">
      <button class="eliminarCuentaBoton">Borrar Cuenta</button>
    </a>

    <a
      href="http://localhost/quickalive/backend/user/gestionRegistro/renderActualizarPreferencias.php"
    >
      <button class="actualizarPreferenciasBoton">
        Actualizar Preferencias
      </button>
    </a>

    <!-- Incluir el script JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--script src="http://localhost/quickalive/frontend/user/js/obtenerActividadesCercanas.js"></script-->
    <script src="http://localhost/quickalive/frontend/user/js/obtenerActividadesSimples.js"></script>
  </body>
</html>
