<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/quickalive/frontend/admin/css/panelAdmin.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/quickalive/frontend/admin/js/buscarUsuarios.js"></script>
    </head>
		<title>Panel de Administración</title>
	</head>
	<body>
		<header>
			<h1>Panel de Administración</h1>
		</header>

		<main>
			<button
				id="altaUsuarioButton"
				onclick="window.location.href='/quickalive/backend/admin/altaUsuario.php'"
			>
				Dar de Alta Usuario
			</button>

			<div>
				<label for="nickNameBuscado">Buscar Usuario:</label>
				<input
					type="text"
					id="nickNameBuscado"
					name="nickNameBuscado"
				/>
			</div>

			<div id="resultadosBusqueda"></div>
		</main>

		<footer>
			<p>&copy; 2024 QuickAlive</p>
		</footer>
	</body>
</html>
