<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="/quickalive/frontend/admin/css/panelAdmin.css"
			rel="stylesheet"
			type="text/css"
		/>
		<title>Panel de Administración</title>
	</head>
	<body>
		<!-- Encabezado de la página -->
		<header>
			<div class="brand">
				<h2>Panel de administración</h2>
				<!-- Título del panel de administración -->
			</div>

			<!-- Botón para cerrar sesión si el usuario está autenticado, de lo contrario, muestra un botón para iniciar sesión -->
			{% if logueado %}
			<a href="../../../../QuickAlive/backend/api/sesiones/logout.php">
				<button class="logoutButton">Cerrar Sesión</button>
			</a>
			{% else %}
			<a href="./backend/api/sesiones/login.php">
				<button class="loginButton">Iniciar Sesión</button>
			</a>
			{% endif %}
		</header>

		<!-- Contenido principal -->
		<main>
			<div>
				<!-- Botones para gestionar usuarios, actividades y preferencias -->
				<button
					onclick="window.location.href = '../../../../../quickAlive/backend/admin/gestionUsuarios/gestionUsuarios.php';"
				>
					Gestión de Usuarios
				</button>
				<button
					onclick="window.location.href = '../../../../../quickAlive/backend/admin/gestionActividades/gestionActividades.php';"
				>
					Gestión de Actividades
				</button>
				<button
					onclick="window.location.href = '../../../../../quickAlive/backend/admin/gestionPreferencias/gestionPreferencias.php';"
				>
					Gestión de Preferencias
				</button>
			</div>
		</main>

		<!-- Pie de página -->
		<footer>
			<p>&copy; 2024 QuickAlive</p>
		</footer>
	</body>
</html>
