<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="/quickalive/frontend/admin/css/panelAdmin.css"
			rel="stylesheet"
			type="text/css"
		/>
		<title>Panel de Administración</title>
	</head>
	<body>
		<header>
			<h1>Panel de Administración</h1>
		</header>

		<main>
			<div>
				<button
					onclick="window.location.href = '../../../../../quickAlive/backend/admin/gestionUsuarios/gestionUsuarios.php';"
				>
					Gestión de Usuarios
				</button>
				<button
					onclick="window.location.href = '../../../../../quickAlive/backend/admin/gestionActividades/gestionActividades.php';"
				>
					Gestión de Actividades
				</button>
				<button onclick="window.location.href = 'gestionPreferencias.php';">
					Gestión de Preferencias
				</button>
			</div>
		</main>
	</body>

	<footer>
		<p>&copy; 2024 QuickAlive</p>
	</footer>
</html>
