/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body,
html {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Button for login */
.loginButton {
  background: black;
  color: #f85a75;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-left: 10px;
}

.loginButton:hover {
  background: black;
  color: white;
}

h1 {
  margin: 0;
}

/* Estilos para los títulos */
h2 {
  margin: 0; /* Elimina los márgenes superior e inferior */
}

/* Estilo para el contenido principal */
main {
  padding: 2rem; /* Añade un relleno alrededor del contenido principal */
}

/* Estilo para los formularios */
form {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente en la página */
}

/* Estilo para los contenedores genéricos */
div {
  margin-bottom: 1rem; /* Añade un margen inferior a los elementos de tipo div */
}

/* Estilo para las etiquetas de los campos */
label {
  display: block; /* Convierte las etiquetas en elementos de bloque */
  margin-bottom: 0.5rem; /* Añade un margen inferior a las etiquetas */
}

/* Estilo para los campos de entrada y select */
input,
select {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 0.5rem; /* Añade un relleno uniforme a los campos */
  border: 1px solid #ccc; /* Borde delgadp de color gris claro */
  border-radius: 4px; /* Borde redondeado */
}

/* Estilo para los botones */
button {
  display: block; /* Convierte los botones en elementos de bloque */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 0.75rem; /* Relleno uniforme */
  background-color: #f85a75; /* Color de fondo oscuro para los botones */
  color: black; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cursor al pasar sobre el botón */
}

/* Estilo para los botones al pasar el cursor */
button:hover {
  background-color: black; /* Color de fondo alterno al pasar el cursor sobre el botón */
  color: #f85a75;
}
