/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body {
  text-align: center;
  background-color: white;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Dropdown Button */
.dropbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f85a75;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: #f85a75;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Additional styling for the user menu */
.menuUsuario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuUsuario img {
  border-radius: 50%;
}

/* Estilos para el contenedor principal */
main {
  margin-top: 50px;
}

/* Estilos para el título principal */
h1 {
  font-size: 32px;
  color: #000;
}

h2 {
  margin-bottom: 30px;
}

/* Estilos para el contenedor de las preferencias */
.preferences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para los botones de preferencias */
.preference {
  padding: 15px 30px;
  background-color: #f85a75;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Estilos para el botón de preferencia seleccionado */
.preference.selected {
  background-color: black;
  color: #f85a75;
}

/* Estilos para el botón de guardar preferencias */
#actualizarPreferencias {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  color: #f85a75;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
