/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body {
  text-align: center;
  background-color: #ffffff;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.menuUsuario img {
  height: 50px;
  margin-left: 10px;
}
/* Estilos para el contenedor principal */
main {
  margin-top: 50px;
}

/* Estilos para el título principal */
h1 {
  font-size: 32px;
  color: #000;
}

h2 {
  margin-bottom: 30px;
}

/* Estilos para el contenedor de las preferencias */
.preferences-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para los botones de preferencias */
.preference {
  padding: 15px 30px;
  background-color: #ff6473;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Estilos para el botón de preferencia seleccionado */
.preference.selected {
  background-color: #000;
  color: #ff6473;
}

/* Estilos para el botón de guardar preferencias */
#actualizarPreferencias {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: black;
  border: 2px solid #000;
  border-radius: 10px;
  color: #ff6473;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}
