/* Estilos para el contenedor principal */

/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos para el body */
body {
  text-align: center;
  background-color: #ffffff;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.menuUsuario img {
  height: 50px;
  margin-left: 10px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para la lista de actividades */
.actividades-lista {
  list-style-type: none;
  padding: 0;
}

/* Estilos para cada elemento de actividad */
.actividad-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/* Estilos para la información de la actividad */
.actividad-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actividad-info .actividad-nombre {
  font-weight: bold;
}

.actividad-info .actividad-fecha,
.actividad-info .actividad-duracion {
  color: #666;
}

/* Estilos para el botón "Volver a realizar" */
.volver-a-realizar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.volver-a-realizar:hover {
  background-color: #0056b3;
}
