/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body,
html {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Button for login */
.loginButton {
  background: black;
  color: #f85a75;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-left: 10px;
}

.loginButton:hover {
  background: black;
  color: white;
}

/* Main content area */
main {
  background-image: url("./imgs/landingImage.png"); /* Image URL here */
  background-size: cover;
  background-position: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.content h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

.create-account-button {
  background: #f85a75;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition: background 0.3s;
}

/* Footer styles */
footer {
  background-color: #f85a75; /* Same color as the header */
  padding: 10px 20px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Push footer to bottom */
}

footer p {
  margin: 0;
  font-size: 14px;
}
