<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="/QuickAlive/frontend/admin/css/gestionPreferencias/altaTipoPreferencia.css"
			rel="stylesheet"
			type="text/css"
		/>
		<title>Alta de Tipo de Preferencia</title>
	</head>
	<body>
		<h2>Crear Nueva Tipo de Preferencia</h2>

		<form
			action="http://localhost/quickalive/backend/admin/gestionPreferencias/altaTipoPreferencia.php"
			method="post"
		>
			<label for="tipoPreferencia">Tipo de Preferencia:</label>
			<input type="text" id="tipoPreferencia" name="tipoPreferencia" required />

			<button type="submit">Crear Tipo Preferencia</button>
		</form>
	</body>

	<footer>
		<p>&copy; 2024 QuickAlive</p>
	</footer>
</html>
