<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/quickalive/frontend/admin/css/gestionPreferencias/gestionPreferencias.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Gestión de preferencias</title>
  </head>
  <body>
    <!-- Encabezado de la página -->
    <header>
      <div class="logo">
        <img
          src="http://localhost/quickalive/imgs/logo.png"
          alt="QuickAlive Logo"
        />
      </div>

      <h1>Gestión de preferencias</h1>

      {% if logueado %}
      <a href="http://localhost/quickalive/backend/api/sesiones/logout.php"
        ><button class="loginButton">Cerrar Sesión</button></a
      >
      <!-- Botón de cierre de sesión -->
      {% else %}
      <a href="http://localhost/quickalive/backend/api/sesiones/login.php"
        ><button class="loginButton">Iniciar Sesión</button></a
      >
      <!-- Botón de inicio de sesión -->
      {% endif %}
    </header>

    <main>
      <button
        id="altaTipoPreferenciaButton"
        onclick="window.location.href='/quickalive/backend/admin/gestionPreferencias/altaTipoPreferencia.php'"
      >
        Crear Nuevo Tipo de Preferencia
      </button>

      <div>
        <label for="nombreTipoPreferenciaBuscado"
          >Buscar Tipo de Preferencia:</label
        >
        <input
          type="text"
          id="nombreTipoPreferenciaBuscado"
          name="nombreTipoPreferenciaBuscado"
          placeholder="Buscar tipo preferencia"
        />
      </div>

      <div id="resultadosBusqueda"></div>
    </main>

    <script src="/quickalive/frontend/admin/js/buscarTipoPreferencias.js"></script>
  </body>
</html>
