<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="/quickalive/frontend/admin/css/gestionPreferencias/gestionPreferencias.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<title>Gestión de preferencias</title>
	</head>
	<body>
		<header>
			<h1>Gestión de preferencias</h1>
		</header>

		<main>
			<button
				id="altaPreferenciaButton"
				onclick="window.location.href='/quickalive/backend/admin/gestionPreferencias/altaPreferencia.php'"
			>
				Crear Nueva Preferencia
			</button>

			<div>
				<label for="nombrePreferenciaBuscada">Buscar Preferencia:</label>
				<input
					type="text"
					id="nombrePreferenciaBuscada"
					name="nombrePreferenciaBuscada"
					placeholder="Buscar preferencia"
				/>
			</div>

			<div id="resultadosBusqueda"></div>
		</main>

		<script src="/quickalive/frontend/admin/js/buscarPreferencias.js"></script>
	</body>

	<footer>
		<p>&copy; 2024 QuickAlive</p>
	</footer>
</html>
