<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Lista de Preferencias Hijas</title>
		<link
			href="/quickalive/frontend/admin/css/gestionPreferencias/modificarTipoPreferencia.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<div class="brand">
				<h2>Modificar Tipo de Preferencia</h2>
			</div>

			{% if logueado %}
			<a href="../../../../../QuickAlive/backend/api/sesiones/logout.php"
				><button class="logoutButton">Cerrar Sesión</button></a
			>
			{% else %}
			<a href="./backend/api/sesiones/login.php"
				><button class="loginButton">Iniciar Sesión</button></a
			>
			{% endif %}
		</header>

		<!-- Lista de preferencias hijas -->
		<ul>
			{% for preferencia in preferencias %}
			<li>
				<span class="nombre">Nombre: {{ preferencia.nombre }}</span>
				<form
					action="modificarTipoPreferencia.php?id={{idTipoPreferencia}}&tipoOperacion=borrar"
					method="post"
				>
					<input
						type="hidden"
						name="idPreferencia"
						value="{{ preferencia.id }}"
					/>
					<button type="submit">Eliminar</button>
				</form>
			</li>
			{% endfor %}
		</ul>

		<!-- Formulario para agregar nueva preferencia hija -->
		<h3>Agregar Nueva Preferencia</h3>
		<form
			action="modificarTipoPreferencia.php?id={{idTipoPreferencia}}&tipoOperacion=añadir"
			method="post"
		>
			<input
				type="hidden"
				name="idTipoPreferencia"
				value="{{ idTipoPreferencia }}"
			/>
			<label for="nombrePreferencia">Nombre de la Prefencia:</label>
			<input
				type="text"
				id="nombrePreferencia"
				name="nombrePreferencia"
				required
			/>
			<button type="submit">Agregar Preferencia</button>
		</form>
	</body>

	<footer>
		<p>&copy; 2024 QuickAlive</p>
	</footer>
</html>
