<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Recuperación de Contraseña - Paso 2</title>
		<!-- Se incluye un enlace a una hoja de estilos externa -->
		<link
			rel="stylesheet"
			type="text/css"
			href="/quickalive/frontend/common/css/recuperarContraseña.css"
		/>
	</head>
	<body>
		<!-- Sección del formulario de recuperación de contraseña -->
		<form
			action="http://localhost/quickalive/backend/api/recuContraseña/recuperarContraseña.php?token={{token}}&email={{correo}}"
			method="POST"
		>
			<h2>Recuperación de Contraseña - Paso 2</h2>
			<p>Por favor, ingresa tu nueva contraseña.</p>

			<!-- Campo para ingresar la nueva contraseña -->
			<label for="password">Nueva Contraseña:</label>
			<input type="password" id="password" name="password" required />

			<!-- Campo para confirmar la nueva contraseña -->
			<label for="confirm_password">Confirmar Contraseña:</label>
			<input
				type="password"
				id="confirm_password"
				name="confirm_password"
				required
			/>

			<!-- Sección para mostrar un mensaje de error si las contraseñas no coinciden -->
			<div id="error_message" style="color: red; display: none">
				Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
			</div>

			<!-- Botón para enviar el formulario, con una llamada a la función validarContraseñas() -->
			<button type="submit" onclick="return validarContraseñas();">
				Reestablecer Contraseña
			</button>
		</form>

		<!-- Script JavaScript para validar que las contraseñas coincidan -->
		<script>
			function validarContraseñas() {
				var password = document.getElementById("password").value;
				var confirm_password =
					document.getElementById("confirm_password").value;

				// Verificar si las contraseñas coinciden
				if (password !== confirm_password) {
					document.getElementById("error_message").style.display = "block";
					return false; // Detener el envío del formulario
				}

				return true; // Permitir el envío del formulario si las contraseñas coinciden
			}
		</script>
	</body>
</html>
