/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body,
html {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Button for login */
.loginButton {
  background: black;
  color: #f85a75;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-left: 10px;
}

.loginButton:hover {
  background: black;
  color: white;
}

h1 {
  margin: 0;
}

/* Estilo para el contenedor de la marca o logo */
.brand {
  flex: 1; /* El contenedor de la marca ocupará el espacio restante */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los botones */
button {
  padding: 10px 20px; /* Añade relleno interno a los botones */
  margin: 10px; /* Establece márgenes externos para separar los botones */
  font-size: 16px; /* Tamaño de fuente para los botones */
  cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
  border: none; /* Elimina los bordes de los botones */
  border-radius: 5px; /* Añade bordes redondeados a los botones */
  background-color: black; /* Color de fondo predeterminado para los botones */
  color: #f85a75; /* Color del texto de los botones */
  transition: background-color 0.3s ease; /* Transición suave en el cambio de color de fondo de los botones */
}

/* Estilos para los botones al pasar el cursor */
button:hover {
  background-color: #f85a75; /* Color de fondo alterno cuando se pasa el cursor sobre los botones */
  color: black;
}

/* Estilos para el contenido principal */
main {
  padding: 20px; /* Añade relleno alrededor del contenido principal */
  max-width: 800px; /* Establece el ancho máximo del contenido principal */
  margin: 0 auto; /* Centra el contenido principal horizontalmente */
}
