/* estilos.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#resultadosBusqueda {
    margin-top: 20px;
}


.actividad {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.actividad span {
    display: block;
    margin-bottom: 5px;
}
.actividad-buttons {
    margin-top: 5px;
}
.actividad-buttons button {
    margin-right: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
