/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Establece una fuente predeterminada para el cuerpo */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-color: #f4f4f4; /* Color de fondo para el cuerpo de la página */
}

/* Estilos para el encabezado */
header {
    display: flex; /* Utiliza un modelo de caja flexible para el encabezado */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    padding: 10px; /* Añade relleno alrededor del encabezado */
    background-color: #333; /* Color de fondo oscuro para el encabezado */
    color: white; /* Color del texto en el encabezado */
}

/* Estilos para la marca o logo */
.brand {
    flex: 1; /* La marca ocupará el espacio restante */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para el icono de flecha de retroceso */
.fa-arrow-left {
    margin-right: 10px; /* Margen derecho para separar el icono del texto */
    color: #ffffff; /* Cambia el color del icono a blanco */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para hacerlo más visible */

}

/* Estilos para el texto "Volver" */
a {
    color: #ffffff; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita la decoración de subrayado del enlace */
}

a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el mouse sobre el enlace */
}

/* Estilos para los botones de inicio de sesión */
.loginButton,
.logoutButton {
    background-color: #4CAF50; /* Color de fondo para los botones */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Relleno interno */
    text-align: center; /* Alineación del texto al centro */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Márgenes */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Borde redondeado */
}

/* Estilos para el contenido principal */
main {
    max-width: 800px; /* Ancho máximo del contenido principal */
    margin: 20px auto; /* Margen automático para centrar el contenido */
    padding: 0 20px; /* Espaciado interno del contenido principal */
}

/* Estilos para los formularios */
form {
    background-color: #f4f4f4; /* Color de fondo del formulario */
    padding: 20px; /* Espaciado interno del formulario */
    border-radius: 10px; /* Borde redondeado del formulario */
}

/* Estilos para los elementos del formulario */
form div {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

/* Estilos para las etiquetas del formulario */
label {
    display: block; /* Muestra las etiquetas en una línea separada */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
}

/* Estilos para los campos de entrada de texto y número */
input[type="text"],
input[type="number"] {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    border: 1px solid #ccc; /* Borde */
}

/* Estilos para los botones de envío */
button[type="submit"] {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilos para los botones de envío al pasar el cursor */
button[type="submit"]:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el cursor */
}

/* Estilos para la galería de imágenes */
.galeria {
    display: grid; /* Muestra la galería como una cuadrícula */
    grid-template-columns: repeat(3, 1fr); /* Distribuye las columnas en 3 partes iguales */
    gap: 20px; /* Espacio entre las imágenes */
    margin-bottom: 50px; /* Margen inferior para dejar espacio para el botón */
}

/* Estilos para las imágenes en la galería */
.imagen {
    position: relative; /* Permite el posicionamiento relativo */
}

.imagen img {
    width: 100%; /* Ancho completo de la imagen */
    height: auto; /* Altura automática para mantener la proporción de aspecto */
    display: block; /* Muestra la imagen como un bloque */
    border-radius: 10px; /* Borde redondeado */
}

/* Estilos para el botón de eliminar superpuesto en las imágenes */
.eliminar-imagen {
    position: absolute; /* Permite el posicionamiento absoluto */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la derecha */
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semi-transparente */
    border: none; /* Sin borde */
    border-radius: 50%; /* Borde redondeado */
    width: 30px; /* Ancho del botón */
    height: 30px; /* Altura del botón */
    font-size: 20px; /* Tamaño del icono */
    line-height: 1; /* Alineación vertical del contenido */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilos para el botón de eliminar al pasar el cursor */
.eliminar-imagen:hover {
    background-color: rgba(255, 0, 0, 0.8); /* Cambio de color de fondo al pasar el cursor */
    color: white; /* Cambio de color del icono al pasar el cursor */
}

/* Estilo opcional para el botón de eliminar */
.eliminar-imagen::after {
    content: '\00d7'; /* Código Unicode para la 'X' */
}


