/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body,
html {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Button for login */
.loginButton {
  background: black;
  color: #f85a75;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-left: 10px;
}

.loginButton:hover {
  background: black;
  color: white;
}

h1 {
  margin: 0;
}

/* Estilos para formularios */
form {
  max-width: 400px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  padding: 20px; /* Relleno interno */
  background-color: #fff; /* Color de fondo del formulario */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para etiquetas de formulario */
label {
  display: block; /* Muestra las etiquetas como bloques */
  margin-bottom: 10px; /* Márgen inferior */
}

/* Estilos para campos de entrada de formulario */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Relleno interno */
  margin-bottom: 15px; /* Márgen inferior */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Borde redondeado */
  box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}

/* Estilos para botones */
button {
  background-color: #f85a75; /* Color de fondo para los botones */
  color: black; /* Color del texto */
  padding: 10px 20px; /* Relleno interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilos para botones al pasar el cursor */
button:hover {
  background-color: black; /* Color de fondo alternativo al pasar el cursor */
  color: #f85a75;
}
