<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Preferencias</title>
    <link
      rel="stylesheet"
      href="/quickalive/frontend/user/css/gestionRegistro/actualizarPreferencias.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="http://localhost/quickalive/imgs/logo.png"
          alt="QuickAlive Logo"
        />

      </div>

      <h1>Actualizar prefencias</h1>

      <div class="menuUsuario">
        <div class="dropdown">
          <img
            src="http://localhost/quickalive/imgs/perfilUsuario.png"
            class="dropbtn"
          />
          <div class="dropdown-content">
            <a
              href="http://localhost/quickalive/backend/user/pantallaInicial.php"
              >Mis recomendaciones</a
            >
            <a
              href="http://localhost/quickalive/backend/user/gestionRegistro/renderActualizarPreferencias.php"
              >Actualizar Preferencias</a
            >
            <a
              href="http://localhost/quickalive/backend/user/gestionListaActividades/renderListaActividades.php"
              >Lista de Actividades</a
            >
            <a
              href="http://localhost/quickalive/backend/user/gestionHistorialActividades/renderHistorialActividades.php"
              >Historial de Actividades</a
            >
            <a
              href="http://localhost/quickalive/backend/api/sesiones/logout.php"
              >Cerrar Sesión</a
            >
            <a
              href="http://localhost/quickalive/backend/user/eliminarCuenta.php"
              onclick="return confirmarEliminacion()"
              >Eliminar Cuenta</a
            >
          </div>
        </div>
      </div>
    </header>

    <main>
      <h2> ¿Has descubierto algo nuevo? </h2>
      <div class="preferences-container">
        {% for tipoPreferencia in tiposPreferencias %}
        <button
            class="preference {% for preferenciaAnterior in
              preferenciasAnteriores %} {% if tipoPreferencia.idTipoPreferencia ==
              preferenciaAnterior.idTipoPreferencia %} selected {% endif %} {%
              endfor %}"
            data-id="{{ tipoPreferencia.idTipoPreferencia }}"
            data-nombre="{{ tipoPreferencia.tipoPreferencia }}"
        >
            {{ tipoPreferencia.tipoPreferencia }}
        </button>
        {% endfor %}
    </div>

    <button id="actualizarPreferencias">Actualizar Preferencias</button>

    <div id="usuario" data-id-usuario="{{ idUsuario }}"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/quickalive/frontend/user/js/actualizarPreferencias.js"></script>
    <script>
      function confirmarEliminacion() {
        return confirm(
          "¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer."
        );
      }
    </script>
  </body>
</html>
