<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Preferencias</title>
    <link
      rel="stylesheet"
      href="/quickalive/frontend/user/css/gestionRegistro/registroPreferencias.css"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="http://localhost/quickalive/imgs/logo.png"
          alt="QuickAlive Logo"
        />
        <span> QUICKALIVE</span>
      </div>
    </header>

    <main>
      <h1>Indica tus preferencias personales</h1>
      <div class="preferences-container">
        {% for tipoPreferencia in tiposPreferencias %}
        <button
          class="preference"
          data-id="{{ tipoPreferencia.idTipoPreferencia }}"
          data-nombre="{{ tipoPreferencia.tipoPreferencia }}"
        >
          {{ tipoPreferencia.tipoPreferencia }}
        </button>
        {% endfor %}
      </div>
      <button id="guardarPreferencias">Guardar Preferencias</button>
    </main>

    <div id="usuario" data-id-usuario="{{ idUsuario }}"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/quickalive/frontend/user/js/registroPreferencias.js"></script>
  </body>
</html>
