<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/quickalive/frontend/admin/css/gestionActividades/altaActividad.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Dar de alta Actividad</title>
  </head>
  <body>
    <header>
		<a href="./gestionActividades.php"><i class="fas fa-arrow-left"></i> Volver</a>

		<div class="brand">
		  <h2>Alta de actividad</h2>
		</div>
  
		{% if logueado %}
		<a href="../../../../../QuickAlive/backend/api/sesiones/logout.php"
		  ><button class="logoutButton">Cerrar Sesión</button></a
		>
		{% else %}
		<a href="./backend/api/sesiones/login.php"
		  ><button class="loginButton">Iniciar Sesión</button></a
		>
		{% endif %}
	  </header>

    </header>

    <form id="actividadForm">
      <label for="nombre">Nombre de la Actividad:</label><br />
      <input type="text" id="nombre" name="nombre" required /><br /><br />

      <label for="descripcion">Descripción:</label><br />
      <textarea id="descripcion" name="descripcion" rows="4" required></textarea
      ><br /><br />

      <label for="duracion">Duración (en minutos):</label><br />
      <input
        type="number"
        id="duracion"
        name="duracion"
        min="1"
        required
      /><br /><br />

      <div class="tipo-preferencia">
        <h2>Indica las categorías a las que pertenece la actividad</h2>
        <ul>
          {% for tipoPreferencia in tiposPreferencias %}
          <li>
            <label>
              <input
                type="checkbox"
                name="preferencias[]"
                id="preferencia{{ tipoPreferencia.idTipoPreferencia }}"
                value="{{ tipoPreferencia.idTipoPreferencia }}"
                data-nombre="{{ tipoPreferencia.tipoPreferencia }}"
              />
              {{ tipoPreferencia.tipoPreferencia }}
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>

      <label for="imagenes"
        >Imágenes (selecciona varias manteniendo Ctrl/Cmd):</label
      ><br />
      <input
        type="file"
        id="imagenes"
        name="imagenes[]"
        multiple
        accept="image/*"
      /><br /><br />

      <button id="submitBtn">Crear Actividad</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/quickalive/frontend/admin/js/altaActividad.js"></script>
  </body>
</html>
