<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="/quickalive/frontend/admin/css/gestionActividades/modificarActividad.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <title>Modificar Actividad</title>
  </head>
  <body>
    <!-- Encabezado de la página -->
    <header>
      <div class="logo">
        <img
          src="http://localhost/quickalive/imgs/logo.png"
          alt="QuickAlive Logo"
        />
      </div>

      <h1>Modificar Actividad</h1>

      {% if logueado %}
      <a href="http://localhost/quickalive/backend/api/sesiones/logout.php"
        ><button class="loginButton">Cerrar Sesión</button></a
      >
      <!-- Botón de cierre de sesión -->
      {% else %}
      <a href="http://localhost/quickalive/backend/api/sesiones/login.php"
        ><button class="loginButton">Iniciar Sesión</button></a
      >
      <!-- Botón de inicio de sesión -->
      {% endif %}
    </header>
    <main>
      <form id="actividadForm">
        <input
          type="hidden"
          id="idActividad"
          name="idActividad"
          value="{{ idActividad }}"
        />
        <div>
          <label for="nombre">Nombre Actividad:</label>
          <input type="text" id="nombre" name="nombre" />
        </div>
        <div>
          <label for="descripcion">Descripción:</label>
          <input type="text" id="descripcion" name="descripcion" />
        </div>
        <div>
          <label for="duracion">Duración:</label>
          <input type="number" id="duracion" name="duracion" />
        </div>

        <div class="galeria">
          <h2>Galería de imágenes actual:</h2>
          {% for imagen in imagenes %}
          <div class="imagen">
            <img src="{{ imagen.url }}" alt="Imagen de la galería" />
            <button
              type="button"
              class="eliminar-imagen"
              data-id="{{ imagen.numImagen }}"
            >
              &#128465;
            </button>
          </div>

          {% endfor %}
        </div>

        <label for="imagenes"
          >Inserción de imágenes (selecciona varias manteniendo
          Ctrl/Cmd):</label
        ><br />
        <input
          type="file"
          id="imagenes"
          name="imagenes[]"
          multiple
          accept="image/*"
        /><br /><br />

        <div class="tipo-preferencia">
          <h2>Indica las categorías a las que pertenece la actividad</h2>
          <ul>
            {% for tipoPreferencia in tiposPreferencias %}
            <li>
              <label>
                <input type="checkbox" name="preferencias[]" id="preferencia{{
                tipoPreferencia.idTipoPreferencia }}" value="{{
                tipoPreferencia.idTipoPreferencia }}" data-nombre="{{
                tipoPreferencia.tipoPreferencia }}" {% for categoria in
                categorias %} {% if tipoPreferencia.idTipoPreferencia ==
                categoria.idTipoPreferencia %} checked {% endif %} {% endfor %}
                /> {{ tipoPreferencia.tipoPreferencia }}
              </label>
            </li>
            {% endfor %}
          </ul>
        </div>

        <button id="submitBtn">Modificar Actividad</button>
      </form>
    </main>
  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/quickalive/frontend/admin/js/modificarActividad.js"></script>
  <script src="/quickalive/frontend/admin/js/eliminarFotoGaleria.js"></script>
</html>
