/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body {
  text-align: center;
  background-color: white;
}

/* Estilos para el encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f85a75;
  color: #000;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Estilos para el contenedor principal */
main {
  margin-top: 50px;
}

/* Estilos para el título principal */
h1 {
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
  background-color: #f85a75;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 15px;
  text-align: left;
}

/* Estilos para las etiquetas del formulario */
.login-container label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

/* Estilos para los campos de entrada del formulario */
.login-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilos para el botón del formulario */
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #f85a75;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos para los mensajes de error */
.login-container p {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para los enlaces de recuperación de contraseña y registro */
.recuperacion-contrasena,
.registro {
  margin-top: 20px;
}

.recuperacion-contrasena a,
.registro a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.recuperacion-contrasena a:hover,
.registro a:hover {
  text-decoration: underline;
}
