body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.event-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.event-card h3 {
    margin-top: 0;
}

.event-card p {
    margin-bottom: 5px;
}

.event-card a {
    text-decoration: none;
    color: blue;
}

/* Estilo para el botón de eliminar cuenta */
.eliminarCuentaBoton {
    background-color: #ff0000; /* Color de fondo rojo */
    color: #ffffff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interior */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
  }
  
  .eliminarCuentaBoton:hover {
    background-color: #cc0000; /* Cambiar color de fondo al pasar el ratón */
  }
  
  /* Estilo para el botón de actualizar preferencias */
  .actualizarPreferenciasBoton {
    background-color: #007bff; /* Color de fondo azul */
    color: #ffffff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interior */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
  }
  
  .actualizarPreferenciasBoton:hover {
    background-color: #0056b3; /* Cambiar color de fondo al pasar el ratón */
  }
  
