/* Importa la fuente Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", sans-serif;
}

/* Estilos para el body */
body {
  text-align: center;
  background-color: #ffffff;
}

/* Container for the header */
header {
  background-color: #f85a75; /* Color de fondo del header */
  display: flex;
  top: 0;
  left: 0;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

/* Logo and its text */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/* Dropdown Button */
.dropbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f85a75;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: #f85a75;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Additional styling for the user menu */
.menuUsuario {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuUsuario img {
  border-radius: 50%;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin: 0;
  margin-top: 10px;
}

/* Estilo del contenedor principal */
#events-simple,
#events-geo {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 16px; /* Espacio entre las actividades */
  padding: 16px; /* Espacio interno del contenedor */
}

/* Estilo de las actividades */
.actividad {
  display: grid;
  grid-template-rows: 10% 70% 20%; /* Dos filas: 80% para la imagen, 20% para los botones */
  background-color: #f85a75; /* Color de fondo */
  border: 2px solid black; /* Borde de las actividades */
  border-radius: 8px; /* Bordes redondeados */
  padding: 16px 0px 16px 0px; /* Espacio interno de las actividades */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  position: relative;
  height: 500px;
  width: 600px;
}

.actividad img {
  width: 100%; /* Establecer un ancho específico para todas las imágenes */
  height: 100%; /* Establecer una altura específica para todas las imágenes */
}

/* Estilo del contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  align-items: center; /* Centrar los botones verticalmente */
}

/* Estilo de los botones */
.button-container button {
  flex: 1; /* Distribuir uniformemente el espacio entre los botones */
  margin: 0 4px; /* Espacio entre los botones */
  padding: 8px 16px; /* Espacio interno de los botones */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: black; /* Color de fondo */
  color: #f85a75; /* Color del texto */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Cambiar el color de fondo de los botones al pasar el cursor sobre ellos */
.button-container button:hover {
  background-color: black; /* Color de fondo al pasar el cursor */
  color: white;
}

.iframe-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #f85a75;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 10px;
  overflow-y: auto;
}

.btn-info:hover .iframe-container,
.iframe-container:hover {
  display: block;
}

.iframe-content p {
  color: black;
  text-align: justify;
}
